<div class="text-center">
    <h2>{{post_title}}</h2>
    <p>Posted by {{user.user_name}} on {{format_date date_created}}</p>
    <p>{{post_content}}</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Comments Section</h3>
        {{#if logged_in}}
        <form class="form comment-input">
            <div class="forms">
                <label for="new-comment">Comment on this post:</label>
                <input class="form-input" type="text" id="new-comment" name="new-comment"></input>
            </div>
            <div class="forms">
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </div>
        </form>
        {{/if}}
        {{#if comments.length}}
        <div class="col-md-6 comments">
        <h4>Comments</h4>

        {{#each comments as |comment|}}
        <div class="row">
            <p>{{comment.comment_content}}</p>
        </div>
        {{/each}}
        </div>
        {{/if}}
    </div>
</div>

<script src="/js/blogpost.js"></script>