<div class="row">
    <div class="col-auto">
        <h2>{{user_name}}'s Blog Posts</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>Post a New Blog:</h3>

        <form class="form new-blogpost">
            <div class="forms">
                <label for="post-title">Title:</label>
                <input class="form-input" type="text" id="post-title" name="post-title" />
            </div>
            <div class="forms">
                <label for="post-content">Content:</label>
                <textarea class="form-input" id="post-content" name="post-content"></textarea>
            </div>
            <div class="forms">
                <button type="submit" class="btn btn-primary" id="new-post-button">Post!</button>
            </div>
        </form>
    </div>

    {{#if blogposts.length}}
    <div class="col-md-8 blogpost-list">
        <h3>Previous Posts:</h3>

        {{#each blogposts as |blogpost|}}
        <div class="row">
            <div class="col-md-8">
                <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.post_title}}</a></h4>
            </div>
            <div class="update-post-button">
                <a href="/blogpost/{{blogpost.id}}/update"><button class="btn btn-sm" id="update-post-button" data-id="{{blogpost.id}}">Update Post</button></a>
            </div>
            <div class="delete-post-button">
                <button class="btn btn-sm btn-danger" id="delete-post-button" data-id="{{blogpost.id}}">Delete Post</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/js/dashboard.js"></script>