<div class="dashboard">
    <div class="col-auto" id="dashboard-header">
        <h2>{{user_name}}'s <span id="dashboard-span">Blog Posts</span></h2>
    </div>

    <div class="dashboard-blogposts">
        <div class="new-blogpost">
            <h3>Post a New Blog</h3>
            <form class="form new-blogpost-form">
                <div class="forms">
                    <label for="post-title">Title:</label>
                    <input class="form-input" type="text" id="post-title" name="post-title" />
                </div>
                <div class="forms">
                    <label for="post-content">Content:</label>
                    <textarea class="form-input" id="post-content" name="post-content"></textarea>
                </div>
                <div class="forms">
                    <button type="submit" id="new-post-button">Post!</button>
                </div>
            </form>
        </div>

        {{#if blogposts.length}}
        <div class="blogpost-list">
            <h3>Previous Posts:</h3>
            {{#each blogposts as |blogpost|}}
            <div class="row previous-posts">
                <div class="delete-post-button">
                    <button id="delete-post-button" data-id="{{blogpost.id}}">Delete Post</button>
                </div>
                <div class="update-post-button">
                    <a href="/blogpost/{{blogpost.id}}/update"><button id="update-post-button" data-id="{{blogpost.id}}">Update Post</button></a>
                </div>
                <div id="blogpost-list-names">
                    <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.post_title}}</a></h4>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}    
        {{/if}}
    </div>
</div>

<script src="/js/dashboard.js"></script>