{{#each blogposts as |blogpost| }}
<div class="row blog-post">
    <div>
        <h2>
            <a href="/blogpost/{{blogpost.id}}">{{blogpost.post_title}}</a>
        </h2>
        <p class="timestamp">
            Posted by <span id="post-user">{{blogpost.user.user_name}}</span> on {{format_date blogpost.date_created}}
        </p>
    </div> 
    <div>
        <p class="blog-content">
            {{blogpost.post_content}}
        </p>
    </div>
</div>
{{/each}}